@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --text-color: #00aa00;
}

body {
  font-family: "IBM Plex", sans-serif;
  background-color: #333;
  color: #ccc;
  font-size: 18px;
  line-height: 1.6;
}

h1 {
  color: var(--text-color);
  font-size: 50px;
  letter-spacing: -2px;
  margin-bottom: 20px;
}

h2 {
  color: var(--text-color);
}

h3 {
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

p {
  margin: 20px 0;
}

nav {
  width: 30%;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav ul li {
  color: var(--text-color);
  cursor: pointer;
}

.container {
  max-width: 600px;
  margin: auto;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wb-body {
  background: #111;
  padding: 20px;
}

.hidden {
  display: none;
}

.heading,
.inner-heading,
.inner-heading-2 {
  position: relative;
}

.heading:after {
  content: "";
  position: absolute;
  top: 0;
  right: -44px;
  display: inline-block;
  background-color: #606060;
  vertical-align: top;
  width: 30px;
  height: 75px;
  -webkit-animation: blink 1s step-end infinite;
  animation: blink 1s step-end infinite;
}

.cursor {
  color: #606060;
  font-weight: 900;
  animation: 1s blink step-end infinite;
}

.btn {
  position: relative;
  top: 35px;
  padding: 20px 70px;
  border: 1px solid white;
  color: white;
  text-decoration: none;
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  -webkit-font-smoothing: antialiased;
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.dragon {
  transform: translatey(0px);
  animation: float 1.5s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-5px);
  }
  100% {
    transform: translatey(0px);
  }
}

@media screen and (max-width: 767px) {
  body {
    font-size: 1.1rem;
  }
  #contact {
    padding-left: 10px;
  }

  #winbox-3 {
    top: 10% !important;
    right: 16% !important;
    left: unset !important;
    width: 370px !important;
  }

  #winbox-2 {
    top: 10% !important;
    right: 68% !important;
    left: unset !important;
    width: 370px !important;
  }

  .online li {
    padding: 5px 0;
  }
}
